@model VashiteKinti.Web.Models.DepositEditViewModel

@{
    ViewData["Title"] = "Депозити";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1 class="deposits-heading" id="text-orange">
    Депозит
</h1>
<h2 class="deposits-heading" id="text-orange">
    намерете най-добрата оферта
</h2>

<form method="post" class="filter-form">
    <div class="selectors-container">
        <div class="row clearfix col-md-12">
            <div class="col-xs-5 col-sm-6 col-md-6 input-holder">
                @Html.LabelFor(x => x.DepositSize, new {@id = "text-blue" })
                <input class="form-control" asp-for="DepositSize">
            </div>
            <div class="col-xs-5 col-sm-6 col-md-6 input-holder">
                @Html.LabelFor(x => x.Currencies, new { @id = "text-blue" })
                @Html.DropDownListFor(x => Model.CurrencyId, Model.Currencies, htmlAttributes: new { @class = "form-control", id = "currencyCode", name = "currencyCode" })
            </div>
            <div class="col-xs-5 col-sm-6 col-md-6 input-holder">
                @Html.LabelFor(x => x.DepositPeriod, new { @id = "text-blue" })
                @Html.DropDownListFor(x => Model.DepositPeriodId, Model.DepositPeriod, htmlAttributes: new { @class = "form-control", id = "depositPeriod", name = "depositPeriod" })
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 input-holder">
                @Html.LabelFor(x => x.Interests, new { @id = "text-blue" })
                @Html.DropDownListFor(x => Model.InterestId, Model.Interests, htmlAttributes: new { @class = "form-control", id = "interestCode", name = "interestCode" })
            </div>
            <div class="col-xs-12 col-sm12 col-md-12 input-holder">
                @Html.LabelFor(x => x.DepositHolder, new { @id = "text-blue" })
                @Html.DropDownListFor(x => Model.DepositHolderId, Model.DepositHolder, htmlAttributes: new { @class = "form-control", id = "depositHolder", name = "depositHolder" })
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 input-holder">
                @Html.LabelFor(x => x.InterestType, new { @id = "text-blue" })
                @Html.DropDownListFor(x => Model.InterestTypeId, Model.InterestType, htmlAttributes: new { @class = "form-control", id = "interestType", name = "interestType" })
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 input-holder">
                @Html.LabelFor(x => x.ExtraMoneyPayIn, new { @id = "text-blue" })
                @Html.DropDownListFor(x => Model.ExtraMoneyPayInId, Model.ExtraMoneyPayIn, htmlAttributes: new { @class = "form-control", id = "extraMoneyPayIn", name = "extraMoneyPayIn" })
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 input-holder">
                @Html.LabelFor(x => x.OverdraftOpportunity, new { @id = "text-blue" })
                @Html.DropDownListFor(x => Model.OverdraftOpportunityId, Model.OverdraftOpportunity, htmlAttributes: new { @class = "form-control", id = "overdraftOpportunity", name = "overdraftOpportunity" })
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 input-holder">
                @Html.LabelFor(x => x.CreditOpportunity, new { @id = "text-blue" })
                @Html.DropDownListFor(x => Model.CreditOpportunityId, Model.CreditOpportunity, htmlAttributes: new { @class = "form-control", id = "creditOpportunity", name = "creditOpportunity" })
            </div>

            <div class="col-xs-6 col-sm-5 col-md-5 input-holder" id="btn-submit-deposits" >
                <button class="btn btn-warning" asp-controller="Deposits" asp-action="FilterDeposits">Сравни оферти</button>
            </div>
        </div>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Bank.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].MinAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Interest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].InterestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Currency)
            </th>
            <th>@Html.ActionLink("Сравнете", "CompareDeposits", "Deposits")</th>
            <th>
                @Html.DisplayName("Заявка")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Deposits)
        {
            if (item.Interest >= 3.5)
            {
                <tr class="alert-success">
                    <td>
                        <img class="bank-img" src="@Url.Content("~/images/"+ item.Bank.Name + ".jpg")" />
                    </td>


                    <td id="profitable">
                        @Html.DisplayFor(modelItem => item.Bank.Name)
                    </td>
                    <td id="profitable">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinAmount)
                    </td>
                    <td id="profitable">
                        @Html.DisplayFor(modelItem => item.Interest)
                    </td>
                    <td id="profitable">
                        @Html.DisplayFor(modelItem => item.InterestType)
                    </td>
                    <td id="profitable">
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td class="text-center">
                        @Html.CheckBox("isNewlyEnrolled", false)
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Изчисли</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>

                    <td>
                        <img class="bank-img" src="@Url.Content("~/images/"+ item.Bank.Name + ".jpg")" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bank.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Interest)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InterestType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td class="text-center">
                        @Html.CheckBox("isNewlyEnrolled", false)
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Изчисли</a>
                    </td>

                </tr>
            }

        }
    </tbody>
</table>
