@model VashiteKinti.Web.Models.DepositEditViewModel

@{
    ViewData["Title"] = "Каталог депозити";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1 class="deposits-catalogue" id="text-orange">Каталог депозити</h1>

<form method="post" class="filter-form">
    <div class="selectors-container-filter">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-3 col-md-2 sc-heading">
                <h5>Филтрирай по:</h5>
            </div>
            <div class="col-xs-5 col-sm-3 col-md-3 input-holder">
                @Html.LabelFor(x => x.Currencies)
                @Html.DropDownListFor(x => Model.CurrencyId, Model.Currencies, htmlAttributes: new { @class = "form-control", id = "currencyCode", name = "currencyCode" })

            </div>
            <div class="col-xs-6 col-sm-5 col-md-5 input-holder">
                @Html.LabelFor(x => x.Interests)
                @Html.DropDownListFor(x => Model.InterestId, Model.Interests, htmlAttributes: new { @class = "form-control", id = "interestCode", name = "interestCode" })
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-5 col-md-5 input-holder">
        <button class="btn btn-warning" id="btn-submit-deposits-filter" asp-controller="Deposits" asp-action="FilterCatalogueDeposits">Филтрирай</button>
    </div>
</form>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Създай депозит</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Bank.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].MinAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Interest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Currency)
            </th>
            <th>
                @Html.DisplayName("Заявка")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Deposits)
        {
            if (item.Interest >= 3.5)
            {
        <tr class="alert-success">
            <td>
                <img class="bank-img" src="@Url.Content("~/images/"+ item.Bank.Name + ".jpg")" />            
            </td>


            <td id="profitable">
                @Html.DisplayFor(modelItem => item.Bank.Name)
            </td>
            <td id="profitable">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinAmount)
            </td>
            <td id="profitable">
                @Html.DisplayFor(modelItem => item.Interest)
            </td>
            <td id="profitable">
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td id="profitable">
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Изчисли</a>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr> 
            }
            else
            {
        <tr>

            <td>
                <img class="bank-img" src="@Url.Content("~/images/"+ item.Bank.Name + ".jpg")" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Изчисли</a>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>}

        }
    </tbody>
</table>
