@model VashiteKinti.Data.Models.Bank

@{
    ViewData["Title"] = "Детайли";
}

<h1>Details</h1>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <table>
        <thead>
            <tr>
                <td>
                    Service
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Deposits
                </td>
            </tr>
            @foreach (var x in Model.Deposits)
            {
                <tr>
                    <td>
                        <a asp-controller="Deposits" asp-action="Details" asp-route-id="@x.Id">
                            @x.Name
                        </a>
                    </td>
                </tr>
            }

            <tr>
                <td>
                    Cards
                </td>
            </tr>
            @foreach (var x in Model.Cards)
            {
                <tr>
                    <td>
                        @x.CardType
                    </td>
                </tr>
            }

            <tr>
                <td>
                    Credits
                </td>
            </tr>
            @foreach (var x in Model.Credits)
            {
                <tr>
                    <td>
                        @x.CreditType
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
