@model IEnumerable<VashiteKinti.Data.Models.Bank>

@{
    ViewData["Title"] = "Банки";
}

<h1 id="text-orange">Списък с банки</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p>
    <a asp-action="Create" class="btn btn-success" id="btn-add"><i class="fa fa-plus"></i> Добавяне на банка</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayName("Лого")</th>
            <th>@Html.DisplayName("Операции")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img class="bank-img" src="@Url.Content("~/images/"+ item.Name + ".jpg")" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редакция</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                    <a id="text-red" asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>
